<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">PHP-JWT</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form method="post" class="navbar-form navbar-right" id="frmLogin" role="form">
            <div class="form-group">
              <input name="username" type="text" class="form-control" id="username" placeholder="User Name">
            </div>
            <div class="form-group">
              <input name="password" type="password" class="form-control" id="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <p>Please sign in using the form on the top-right of your screen.</p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Current JWT</h2>
          <p id="token" class="code">&nbsp;</p>
          <p><a href="#" class="btn btn-default" id="btnExpire" role="button">Expire Token &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Decoded JWT</h2>
          <p><pre id="decodedToken">&nbsp;</pre></p>
          <table border="0" cellpadding="3" cellspacing="1" class="table">
          <tr>
        <td><strong>Current time:</strong></td>
        <td align="right"><span id="currentTime">&nbsp;</span></td>
    </tr>
    <tr>
        <td><strong>Issued at:</strong></td>
        <td align="right"><span id="iat">&nbsp;</span></td>
    </tr>
    <tr>
        <td><strong>Not valid before:</strong></td>
        <td align="right"><div id="nbf">&nbsp;</div></td>
    </tr>
    <tr>
        <td><strong>Expires:</strong></td>
        <td align="right"><div id="exp">&nbsp;</div></td>
    </tr>
</table>
        </div>
        <div class="col-md-4">
          <h2>Resource</h2>
          <p><a href="#" class="btn btn-default" id="btnGetResource" role="button">Get resource &raquo;</a></p>
          <p class="resourceContainer" id="resourceContainer">&nbsp;</p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; 2014</p>
      </footer>
    </div> <!-- /container --> 